:host {
  display: flex;
  flex-direction: column;
  width: 720px;
}

.tooltip {
  cursor: pointer;
  background-color: white;
  position: absolute;
  user-select: none;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
}

.content {

  .content__annotation {
    &--red {
      background-color: rgba(red, 0.3);
    }

    &--green {
      background-color: rgba(green, 0.3);
    }

    &--blue {
      background-color: rgba(blue, 0.3);
    }
  }

  .content__underline {
    text-decoration: underline;

    &--red {
      text-decoration-color: red;
    }

    &--green {
      text-decoration-color: green;
    }

    &--blue {
      text-decoration-color: blue;
    }
  }
}

.tooltip__colors, .tooltip__actions {
  display: flex;
}

.tooltip__color {
  width: 48px;
  height: 48px;

  &--red {
    background-color: red;
  }

  &--green {
    background-color: green;
  }

  &--blue {
    background-color: blue;
  }
}

.annotation {
  pointer-events: none;
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 4px;
  user-select: none;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
