:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  user-select: none;
}

.item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  width: 720px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 200ms linear;

  &:hover {
    background-color: rgba(#ffdc4c, 0.2);
  }
}

